// Variables
$base-color: #bf533b;
$secondary-color: #343a40;
$content-text-color: #9aa1a8;

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.wrap {
    width: 90%;
    margin: 0 auto;
}

.content-text {
    font-size: 1.15em;
    color: $content-text-color;
    line-height: 1.4;
}

.content-container__title {
    font-size: 3em;
    color: $secondary-color;
    margin-bottom: 50px;
}

.secondary-title {
    font-size: 1.75em;
    color: $content-text-color;
    margin: 7px 0;
}

.section__divider {
    background: $content-text-color;
    width: 100%;
    height: 1px;
}

.header {
    background: #bf533b;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow-y: hidden;

    .header__logo {
        color: #fff;
        font-weight: 400;
        font-size: 1.5em;
    }

    .header__mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5em 0;

        .header__hamburger_menu {
            border-radius: 3px;
            border: 0.5px solid rgba(255, 255, 255, 0.3);
            height: 38px;
            width: 54px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            cursor: pointer;

            .hamburger-menu__line {
                background: #fff;
                opacity: 0.5;
                width: 45%;
                height: 2px;
                margin: -0.25em 0;
            }
        }
    }

    .header__nav {
        transition: height 0.2s ease-in-out;
        height: 0;

        .nav-link {
            margin: 0.75em 0;
            color: rgba(255, 255, 255, 0.5);
            font-weight: 700;
            cursor: pointer;

            a {
                width: 100%;
                display: inline-block;
                color: rgba(255, 255, 255, 0.5);
                &:hover {
                    color: rgba(255, 255, 255, 0.75);
                }
            }

            &:first-child {
                margin-top: 0;
            }
        }
    }

    .header__nav--open {
        height: 95px;
    }
}

.section {
    padding-top: 54px;
}

.content-container {
    padding-top: 90px;
    padding-bottom: 80px;
}

.about {
    .about__title {
        display: flex;
        flex-direction: column;
        font-size: 4.5em;
        letter-spacing: -0.75px;

        .first-name {
            color: $secondary-color;
        }

        .last-name {
            color: $base-color;
            margin-top: -15px;
        }
    }

    .about__contact-info {
        font-size: 1.4em;
        font-weight: 700;
        color: $content-text-color;
        line-height: 1.35;
        .about__email {
            color: $base-color;
        }
    }

    .about__description {
        margin: 50px 0;
    }

    .about__social-media {
        display: flex;

        .about__social-media-icon-container {
            width: 55px;
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            background-color: $secondary-color;
            color: #fff;
            margin-right: 20px;
            cursor: pointer;
            &:hover {
                background: $base-color;
            }
        }

        .about__social-media-icon {
            font-size: 1.5em;
        }
    }
}

.experience {
    .experience__item {
        margin: 60px 0;

        .experience__header {
            margin: 25px 0;
        }

        .experience__title {
            margin: 7px 0;
        }

        .experience__title {
            font-size: 2em;
            color: $secondary-color;
        }

        .content-text {
            font-size: 1.1em;
        }

        .experience__date {
            margin: 25px 0;
            color: $base-color;
        }
    }
}

.skills {
    .secondary-title {
        margin: 20px 0;
    }

    .skills-list {
        display: flex;
        flex-wrap: wrap;

        align-items: center;
        .skills-list__item {
            width: 50px;
            margin: 10px 5px;
        }
        .skills-list__item img {
            width: 100%;
        }
    }

    .workflow__item {
        display: flex;
        margin: 5px 0;
        color: $content-text-color;

        .fa-check {
            margin: 0 7px;
        }
    }
}
